<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key><string>com.iven.macgametoolbox.helper.v4</string>
    <key>BundleProgram</key><string>Contents/Library/LaunchServices/MacGameToolboxPrivilegedHelper</string>
    <key>AssociatedBundleIdentifiers</key>
    <array><string>com.iven.macgametoolbox</string></array>
    <key>MachServices</key>
    <dict><key>com.iven.macgametoolbox.helper.v4</key><true/></dict>
    <key>RunAtLoad</key><true/>
</dict>
</plist>
